.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 105px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  background-image: url(../../../images/images_sprint-2/khan-book.jpg);
  margin-right: 48px;
}


.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
