.techniques {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 100px auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  padding: 0;
  margin: 0 auto;
}

.cards__item {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.img__wrapper {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 60px;
  width: 160px;
  height: 160px;
  align-self: center;
}

.cards__image {
  width: 160px;
  height: 160px;
}

.cards__title {
  text-align: center;
  justify-content: center;
  margin-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  text-align: center;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
