.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  width: 60%;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
  width: 60%;
}

.table_theme_dark {
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 3;
  padding-top: 80px;
  margin: 0;
}

.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  right: -210px;
  top: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  animation: rotation 20s linear infinite;
}
